@charset "UTF-8";

* {
    font-family: Arial, Helvetica, Sans-serif;
    /*height: 100%;*/
}
body{
background-image: linear-gradient(to right,#04B46B, #036E49,#00442F );

}
main {
    background-color:#DFDFDF;
    width:  600px;
    padding: 10px ;
    margin:auto;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #211F20 ;
}

h1{ color: #00442F;
    text-align: center;
    text-shadow: 1px 1px 0px #04B46B;

}

h2{
    color: #036E49;
}

p{
    text-align: 
    justify;
}
